---
title: Malt Festival
start_datetime: 2016-11-10 9:00:00
end_datetime: 2016-11-10 18:00:00
timezone: America/Los_Angeles
description: A fun filled day with friends and beer.
background_image: /uploads/2015/12.jpeg
map:
  address: 1 Market Street, San Francisco
  zoom: 16
  latitude: 37.7938462
  longitude: -122.3970253
_options:
  label_image:
    width: 400
    height: 400
  image:
    width: 600
    height: 1200
---

<h3 class="editable">Tell your friends</h3>
<div class="sharing">
	{% assign share_url = page.url | absolute_url | cgi_escape %}
	<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">{% include icons/social-icon.html icon="Facebook" %}</a>
	<a class="email" href="mailto:?subject=I'm going to this event&amp;body=Check%20it%20out%20-%20{{ share_url }}">{% include icons/social-icon.html icon="Email" %}</a>
</div>

<h3 class="editable">Location</h3>
<div class="map" id="gmap_canvas"></div>
<address><a href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}">{% include icons/place.svg %} {{ page.map.address }}</a></address>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"></script>
