---
title: True Story Time
background_image: /uploads/2015/12.jpeg
---

<div class="container">
        <div class="row">
          <div class="col-md-8">
            
			<div id="sidebar-2" >
              <div >
				<div>
				<br>
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSejaJeAEnFlsUWjhIoEImNyT3Dqsz2Zc0TfY51bLuXE7hq3OA/viewform?embedded=true" width="100%"height="730" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
				</div>
			  </div>
            </div>
			</div>

          <div class="col-md-4">
            <div id="sidebar-2" >
              <div class="subscription mountainWidget">
			  <div>
			  <!--<a ><img src="/images/accordian/1.jpg" class="img-responsive"/></a></div>-->
				<div>
				<div>
				<h3>How to get there?</h3>				
				</div>
				<div class="mapouter"><div class="gmap_canvas"><iframe width=100% height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=156%20Blockhouse%20Bay%20Rd%2C%20Avondale&t=&z=13&ie=UTF8&iwloc=&output=embed"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">webdesign agentur</a></div><style>.mapouter{text-align:right;height:350px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:100%;}</style></div>
            </div>
          </div>
        </div>
      </div>
	  </div>
	  
	            <div class="col-md-8">
            
			<div id="sidebar-2" >
              <div >
				<div>
				<br>
								<br>
				<h3>Events Calendar</h3>
<table style="width: 100%;" border="1">
<tbody>
  <tr>
<td>MONTHLY DINNER ON MONDAYS AT 6:00 PM</td>

<td>ADD TO YOUR CALENDAR</td>
</tr>
<tr>
<td>&nbsp;25 February 2019</td>

<td><a href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MG5zdWRnOTlwN3U0c3RtYzQ5YzVpbWhzODdfMjAxOTAyMjVUMDUwMDAwWiBldmVudHNAdHJ1ZXN0b3J5Lm9yZy5ueg&amp;tmsrc=events%40truestory.org.nz&amp;scp=ALL" target="_blank"><img border="0" src="images/clicktoadd.png" style='max-width: 100px'></a></td>
</tr>
<tr>
<td>&nbsp;25 March 2019&nbsp;</td>
<td><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MG5zdWRnOTlwN3U0c3RtYzQ5YzVpbWhzODdfMjAxOTAzMjVUMDUwMDAwWiBldmVudHNAdHJ1ZXN0b3J5Lm9yZy5ueg&amp;tmsrc=events%40truestory.org.nz&amp;scp=ALL"><img border="0" src="images/clicktoadd.png" style='max-width: 100px'></a></td>
</tr>
<tr>
<td>&nbsp;29 April 2019&nbsp;</td>

<td><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MG5zdWRnOTlwN3U0c3RtYzQ5YzVpbWhzODdfMjAxOTA0MjJUMDYwMDAwWiBldmVudHNAdHJ1ZXN0b3J5Lm9yZy5ueg&amp;tmsrc=events%40truestory.org.nz"><img border="0" src="images/clicktoadd.png" style='max-width: 100px'></a></td>
</tr>
<tr>
<td>&nbsp;27 May 2019&nbsp;</td>

<td><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MG5zdWRnOTlwN3U0c3RtYzQ5YzVpbWhzODdfMjAxOTA1MjdUMDYwMDAwWiBldmVudHNAdHJ1ZXN0b3J5Lm9yZy5ueg&amp;tmsrc=events%40truestory.org.nz&amp;scp=ALL"><img border="0" src="images/clicktoadd.png" style='max-width: 100px'></a></td>
</tr>
<tr>
<td>&nbsp;24 June 2019&nbsp;</td>

<td><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MG5zdWRnOTlwN3U0c3RtYzQ5YzVpbWhzODdfMjAxOTA2MjRUMDYwMDAwWiBldmVudHNAdHJ1ZXN0b3J5Lm9yZy5ueg&amp;tmsrc=events%40truestory.org.nz&amp;scp=ALL"><img border="0" src="images/clicktoadd.png" style='max-width: 100px'></a></td>
</tr>
<tr>
<td>&nbsp;22 July 2019&nbsp;</td>

<td><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MG5zdWRnOTlwN3U0c3RtYzQ5YzVpbWhzODdfMjAxOTA3MjJUMDYwMDAwWiBldmVudHNAdHJ1ZXN0b3J5Lm9yZy5ueg&amp;tmsrc=events%40truestory.org.nz&amp;scp=ALL"><img border="0" src="images/clicktoadd.png" style='max-width: 100px'></a></td>
</tr>
<tr>
<td>&nbsp;26 August 2019&nbsp;</td>

<td><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MG5zdWRnOTlwN3U0c3RtYzQ5YzVpbWhzODdfMjAxOTA4MjZUMDYwMDAwWiBldmVudHNAdHJ1ZXN0b3J5Lm9yZy5ueg&amp;tmsrc=events%40truestory.org.nz&amp;scp=ALL"><img border="0" src="images/clicktoadd.png" style='max-width: 100px'></a></td>
</tr>
<tr>
<td>&nbsp;23 September 2019&nbsp;</td>

<td><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MG5zdWRnOTlwN3U0c3RtYzQ5YzVpbWhzODdfMjAxOTA5MjNUMDYwMDAwWiBldmVudHNAdHJ1ZXN0b3J5Lm9yZy5ueg&amp;tmsrc=events%40truestory.org.nz&amp;scp=ALL"><img border="0" src="images/clicktoadd.png" style='max-width: 100px'></a></td>
</tr>
<tr>
<td>&nbsp;21 October 2019&nbsp;</td>

<td><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MG5zdWRnOTlwN3U0c3RtYzQ5YzVpbWhzODdfMjAxOTEwMjhUMDUwMDAwWiBldmVudHNAdHJ1ZXN0b3J5Lm9yZy5ueg&amp;tmsrc=events%40truestory.org.nz"><img border="0" src="images/clicktoadd.png" style='max-width: 100px'></a></td>
</tr>
<tr>
<td>&nbsp;25 November 2019&nbsp;</td>

<td><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MG5zdWRnOTlwN3U0c3RtYzQ5YzVpbWhzODdfMjAxOTExMjVUMDUwMDAwWiBldmVudHNAdHJ1ZXN0b3J5Lm9yZy5ueg&amp;tmsrc=events%40truestory.org.nz&amp;scp=ALL"><img border="0" src="images/clicktoadd.png" style='max-width: 100px'></a></td>
</tr>
</tbody>
</table>
<!-- DivTable.com -->				</div>
				
			  </div>
            </div>
			</div>
			
			          <div class="col-md-4">
            <div id="sidebar-2" >
              <div class="subscription mountainWidget">
			  <div>
			  <!--<a ><img src="/images/accordian/1.jpg" class="img-responsive"/></a></div>-->
				<div>
				<br>
				<h3>See who else is going</h3>
				<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRf0KYM1b5tYSU8a3k7zOQmyW70MFobHcVaKFqr-iSuKXez0gQiKNSsDsEqPqzbNkydeQsDnZibDgUl/pubhtml?gid=776665746&amp;single=true&amp;widget=true&amp;headers=false" width="100%" height="600"></iframe>  				
            </div>
          </div>
        </div>
      </div>
	  </div>
	  
	   </div>

<h3 class="editable">Got Questions?</h3>
<div class="sharing">
	{% assign share_url = page.url | absolute_url | cgi_escape %}
	<a class="facebook" href="https://www.facebook.com/ypfellowshipdinner/">{% include icons/social-icon.html icon="Facebook" %}</a>
	<a class="email" href="mailto:questions@truestory.org.nz?subject=I've got questions about the Dinner">{% include icons/social-icon.html icon="Email" %}</a>
</div>

</div>


